.info-text {
    border: 2px solid darkgreen;
    border-radius: 15px;
    padding-left: 20px;
    background: #66CDAA;
}

.info-text21 {
    border: 2px solid #F0E68C;
    border-radius: 15px;
    padding-left: 20px;
    background: #FAFAD2;
}

.info-text22 {
    border: 2px solid #F0E68C;
    border-radius: 15px;
    padding-left: 20px;
    background: #FAFAD2;
}

.info-text23 {
    border: 2px solid #F0E68C;
    border-radius: 15px;
    padding-left: 20px;
    background: #FAFAD2;
}

.info-text3 {
    border: 2px solid #48D1CC;
    border-radius: 15px;
    padding-left: 20px;
    background: #ADD8E6;
}